.container {
    text-align: center;
    display: -ms-inline-grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: repeat(2, 100px);
}

.nav-bar {
    text-align: center;
    font-size: 24px;
}

.nav-bar a {
    margin: 8rem 4rem;
}

body a,
h1,
p {
    font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, sans-serif;
    text-decoration: none;
    color: black;
}

.paragraph {
    text-align: center;
    max-width: 20%;
    display: inline;
    font-size: 26px;
    font-weight: 500;
}

.social-icons a {
    color: black;
    padding: 0 1rem;
    font-size: 2rem;
}

.container>div>img {
    width: 140px;
    height: 170px;
    border-radius: 50%;
    margin: 3rem 41%;
}